<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragmentos::encabezado(~{::title}, ~{})}">
    <title>GyMarket</title>
    <!-- Custom styles for this template -->


</head>
<body class="text-center text-bg-dark">
<header th:replace="~{fragmentos::barra-nav}"></header>

<main>
    <!-- Vista Productos -->
    <div class="container">
        <div class="py-4 text-center">
            <h3>Bienvenido</h3>
        </div>
        <div class="py-2 text-center">
            <h4>Puedes ver más productos en la Tienda</h4>
        </div>
        <div class="row">
            <div class="col-lg-4" th:each="producto : ${topProductos}">
                <div class="card" style="cursor: pointer;">
                    <a th:href="@{/public/producto/{id}(id=${producto.id})}" class="stretched-link"></a>
                    <div class="card-header text-dark">
                        <h3 th:text="${producto.nombre}"></h3>
                    </div>
                    <div class="card-body">
                        <img th:src="${producto.imagen}" class="img-fluid mx-auto d-block" alt="Imagen" style="height: 300px;">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-6 precio text-black">
                                <span class="precio" th:text="${#numbers.formatCurrency(producto.pvp)}"></span>
                            </div>
                            <div class="col-md-6" sec:authorize="isAuthenticated()">
                                <a th:href="@{/app/carrito/add/{id}(id=${producto.id})}" class="btn btn-success" role="button">
                                    <i class="fa fa-shopping-cart"></i>&nbsp;Comprar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Vista Actividades -->

    <div class="container">

        <div class="py-2 text-center">
            <h4>Reserva una Actividad</h4>
        </div>
        <div class="row">
            <div class="col-lg-4" th:each="actividad : ${topActividades}">
                <div class="card" style="cursor: pointer;">
                    <a th:href="@{/public/actividad/{id}(id=${actividad.id})}" class="stretched-link"></a>
                    <div class="card-header text-dark">
                        <h3 th:text="${actividad.nombre}"></h3>
                    </div>
                    <div class="card-body">
                        <img th:src="${actividad.imagen}" class="img-fluid mx-auto d-block" alt="Imagen" style="height: 300px;">
                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <div class="col-md-6" sec:authorize="isAuthenticated()">
                                <a th:href="@{/app/carritoreserva/add/{id}(id=${actividad.id})}" class="btn btn-success" role="button">
                                    <i class="fa fa-shopping-cart"></i>&nbsp;Reservar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>



<footer th:replace="~{fragmentos::pie}"></footer>
<th:block th:replace="~{fragmentos::jsfinal(~{::script})}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
</th:block>

</body>
</html>